.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 80%;
    margin-top: 5%;
    border: 5px white;
    background-color: honeydew;
}
#trivia {
    background-color: white;
    border: 2px black;
    width: 60%;
    height: auto; /*auto will create space dependent upon the content within the frame, you can set it to 400px or anything*/
    border-radius: 10px;
    padding: 10px;
}

/*For the start, next and end of quiz button*/
.buttons001 {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 50px;
}

/*For the four options*/
.buttons002 {
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: auto;
}
#next001 {
    /*background-color: blue;*/
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
}

#someRoom {
    padding: 5%;
}
#userInfo {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    color: white;
}

#text002 {
    text-align: left;
    padding: 5%;
}

/*Green is for the correct answer, Red is for the incorrect answer*/
#green001 {
    color: green;
    font-family: 'Fredoka One', cursive;
}

#red001 {
    color: red;
    font-family: 'Fredoka One', cursive;
}

#ask {
    color:blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: center;
}
#next001 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#hideThisJawn {
    background-color: white;
}

.multiple-choice {
    color:red;
}